.badge {
    background-color: whitesmoke;
    box-shadow: 0 4px 9px 0 black;
    border-radius: 1px;
    width: 75%;
    
}

.apiPic{
    height: 80px
}

img.apiPic {
    width: 100%;
    height: 80px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.picfernando {
    width: 300px;
}

.centerText{
    text-align: center;
}